@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body {
  font-family: 'Roboto', sans-serif;
}

p code{
    font-family:'Roboto Mono', monospace;
    border-radius:3px;
    font-size:85%;
    padding:0.4em 0.5em;
}

pre code{
    font-family:'Roboto Mono', monospace;
    border-radius:5px;
    font-size:90%;
    padding:0.8em 0.8em;
}

pre, code {
    background: #fff;
}

ul li code{
    font-family:'Roboto Mono', monospace;
    border-radius:3px;
    font-size:85%;
    padding:0.2em 0.4em;
}

div .article-summary{
  margin-top: 10px;
  font-size:90%;
}

.homepage-category-box > .title {
    font-size: 16px;
    font-weight: 400 !important;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000 !important;
    margin: 0;
    padding: 0;
}
