@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');

@font-face {
  font-family: Gilroy;
  src: url(fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: Gilroy;
  src: url(fonts/Gilroy-ExtraBold.ttf);
  font-weight: bold;
}

body {
  font-family: 'Gilroy', 'Didact Gothic', sans-serif;
}

p code{
    font-family:'Roboto Mono', monospace;
    border-radius:3px;
    font-size:85%;
    padding:0.2em 0.4em;
}

ul li code{
    font-family:'Roboto Mono', monospace;
    border-radius:3px;
    font-size:85%;
    padding:0.2em 0.4em;
}
