@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
  font-family: Gilroy, Icon, sans-serif;
}

p code{
    font-family:'Roboto Mono', monospace;
    border-radius:3px;
    font-size:85%;
    padding:0.2em 0.4em;
}

ul li code{
    font-family:'Roboto Mono', monospace;
    border-radius:3px;
    font-size:85%;
    padding:0.2em 0.4em;
}
