{{ partial "head" . }}

<div class="backdrop">
	<div class="backdrop-paper"></div>
</div>

<input class="toggle" type="checkbox" id="toggle-drawer">
<input class="toggle" type="checkbox" id="toggle-search">
<label class="toggle-button overlay" for="toggle-drawer"></label>

<header class="header">
	{{ partial "header" . }}
</header>

<main class="main">
	<div class="drawer">
		{{ partial "drawer" . }}
	</div>

	<article class="article">
		<div class="wrapper">
			{{ .Content }}

			{{ if gt (len .Data.Pages) 0 }}
			<br>
				<!--<h3>Pages in {{ .Title }}</h3>-->
			{{ range .Data.Pages }}
			<div class="flex-grid homepage-category-links">

							<div class="col homepage-category-box">
								<a href="{{ .Permalink }}" title="{{ .Title }}">
									<div class="title">{{ .Title }}</div>
								</a>
									<p>
										{{ printf "%s" .Summary | markdownify }}
									</p>
							</div>
			</div>
			{{ end }}
			{{ end }}
			{{ partial "suggestions" .}}
		</div>
	</article>

	<div class="results" role="status" aria-live="polite">
		<div class="scrollable">
			<div class="wrapper">
				<div class="meta"></div>
				<div class="list"></div>
			</div>
		</div>
	</div>
</main>

{{ partial "footer_js" . }}
