{{ partial "head" . }}

<div class="backdrop">
  <div class="backdrop-paper"></div>
</div>

<input class="toggle" type="checkbox" id="toggle-drawer">
<input class="toggle" type="checkbox" id="toggle-search">
<label class="toggle-button overlay" for="toggle-drawer"></label>

<header class="header">
  {{ partial "header" . }}
</header>

<main class="main">
  <div class="drawer">
    {{ partial "drawer" . }}
  </div>

  <article class="article">
    <div class="wrapper">

      <h1 class="homepage-title">Documentation</h1>
      <p><strong>Welcome to Alpaca!</strong> Get familiar with Alpaca and explore the resources.</p>

      <div class="flex-grid homepage-category-links">

        <div class="col homepage-category-box">
          <a href="/about-us/">
            <h2>Who is Alpaca?</h2>
            <p>
              Find out who is behind Alpaca and how our business works.
            </p>
          </a>
        </div>

        <div class="col homepage-category-box">
          <a href="#where-should-i-start">
            <h2>Where Should I Start?</h2>
            <p>
              Not sure where to start? Here's a quick guide to getting up and running.
            </p>
          </a>
        </div>

        <div class="col homepage-category-box">
          <a href="/get-started-with-alpaca/">
            <h2>Run Example Algorithms</h2>
            <p>
              Do you learn by doing things? Copy and paste an example algorithm and run it right away!
            </p>
          </a>
        </div>

        <div class="col homepage-category-box">
          <a href="/api-documentation/">
            <h2>API Documentation</h2>
            <p>
              Take a deep dive into our users' favorite Web API documentation or check out our client SDKs.
            </p>
          </a>
        </div>

        <div class="col homepage-category-box">
          <a href="/orders/">
            <h2>Understand Orders</h2>
            <p>
              Learn all about order types and their behaviors that you can use on Alpaca.
            </p>
          </a>
        </div>

        <div class="col homepage-category-box">
          <a href="/paper-trading/">
            <h2>Paper Trading Specification</h2>
            <p>
              Alpaca's paper trading offers a great simulation environment to test your algorithms.
            </p>
          </a>
        </div>

        <div class="col homepage-category-box">
          <a href="/platform-migration/">
            <h2>Third-Party Tools Integration</h2>
            <p>
              Coming from Quantopian? Using zipline, pipeline, or backtrader? Expedite your migration to Alpaca.
            </p>
          </a>
        </div>

        <div class="col homepage-category-box">
          <a href="/market-data/">
            <h2>Market Data</h2>
            <p>
              Learn about what types of market data are available at Alpaca.
            </p>
          </a>
        </div>

      </div><!-- end .flex-grid -->

      {{ .Content }}
      {{ partial "suggestions" . }}
    </div>
  </article>

  <div class="results" role="status" aria-live="polite">
    <div class="scrollable">
      <div class="wrapper">
        <div class="meta"></div>
        <div class="list"></div>
      </div>
    </div>
  </div>
</main>


{{ partial "footer_js" . }}