{{- $pathURL := (print "/content" (.Get "pathURL"))}}
{{- $files := readDir $pathURL -}}
<div class="code-example">
    <div class="example-tabs">
        {{ $.Scratch.Set "tabClass" "active" }}
        {{- range $files }}
            {{ $filename_arr := split .Name "." }}
            {{ $filename := index $filename_arr 0}}
            {{ $filename_ext := index $filename_arr 1 }}

            {{ if eq $filename ($.Get "exampleId") }}
                <button class="example-tab {{ $.Scratch.Get "tabClass"}} {{$.Get "exampleId"}}" id="{{.Name}}">
                {{ if eq $filename_ext "py"}}
                    Python
                {{ else if eq $filename_ext "js" }}
                    Javascript
                {{ else if eq $filename_ext "go" }}
                    Go
                {{ else if eq $filename_ext "csharp" }}
                    C#
                {{ else if eq $filename_ext "yaml" }}
                    YAML
                {{ else if eq $filename_ext "toml" }}
                    TOML
                {{ else}}
                    .{{ $filename_ext }}
                {{ end }}
                </button>
                <script>
                    !function() {
                        let currentTab = window.parent.document.getElementById("{{.Name}}");
                        currentTab.onclick = function () { changeExamplesTab("{{$.Get "exampleId"}}", "{{.Name}}") };
                    }()
                </script>
                {{ $.Scratch.Set "tabClass" "inactive" }}
            {{ end }}
        {{- end }}
    </div>
    {{ $.Scratch.Set "blockClass" "active" }}
    {{- range $files }}
        {{ $filename_arr := split .Name "." }}
        {{ $filename := index $filename_arr 0}}
        {{ $filename_ext := index $filename_arr 1 }}

        {{ if eq $filename ($.Get "exampleId") }}
            {{ $.Scratch.Add "filepath" ($.Get "pathURL") }}
            {{ $.Scratch.Add "filepath" "/"}}
            {{ $.Scratch.Add "filepath" .Name}}
            <pre id="{{$.Get "exampleId"}}-{{ .Name }}" class="line-numbers example-block {{ $.Scratch.Get "blockClass" }}"
                data-src={{ $.Scratch.Get "filepath" }}></pre>
            {{ $.Scratch.Set "filepath" ""}}
            {{ $.Scratch.Set "blockClass" "inactive" }}
        {{ end }}
    {{- end }}
</div>